@media (min-width: 1100px) {
  .app-header-fixed .app-header {
    position: fixed;
    right: 320px;
    left: 0;
    margin-left: 0;
  }
}

.app-sidebar-fixed .app-content {
  padding-right: 320px;
  padding-left: unset !important;
}

@include media-breakpoint-down(md) {
  .app-content {
    z-index: 500;
    padding-left: unset !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 1100px) {
  .app-sidebar-collapsed .app-content {
    padding-right: 100px !important;
  }
}

@media (min-width: 1100px) {
  .app-inner-content-layout-fixed {
    left: 0px;
    right: 100px;
  }
}
